{% extends "_base.html" %}

{% block title %}Reviews{% endblock %}
{% block main %}
<div class="row">
    <h2 class="text-center">Reviews</h2>
</div>
<div class="text-center">
  <a class="btn btn-primary btn-sm m-2" href="{% url 'reviews:create' %}">
    + New Review
  </a>
</div>
{% if reviews %}
<div class="table-responsive pb-5">
  <table class="table table-striped" style="min-width: 500px">
    <thead>
      <tr>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr>
          <td>
            <a href="{{ review.get_absolute_url }}">{{ review.review }}</a>
          </td>
          <td>
            <a href="{% url 'reviews:update' review.slug %}">
              <i class="fas fa-pencil-alt"></i>
            </a>
            <a href="{% url 'reviews:delete' review.slug %}">
              <i class="far fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p class="text-center mt-5 fs-5">You haven't written any reviews yet.</p>
{% endif %}
{% endblock %}