{% extends "_base.html" %}

{% block title %}Leader Boards{% endblock %}
{% block main %}
<h1 class="text-center">Leader Boards</h1>
<div class="row mt-5">
	<div class="col text-center">
		<div class="row">
				<h2>Math Facts</h2>
		</div>
		{% if math_obj %}
		<div class="table-responsive pb-5">
			<table class="table table-striped" style="min-width: 500px">
			<thead>
				<tr>
				<th>Score</th>
				<th>Operation</th>
				<th>Max Number</th>
				<th>Username</th>
				<th>Date</th>
				</tr>
			</thead>
			<tbody>
				{% for score in math_obj %}
					<tr>
						<td>
							{{ score.score }}
						</td>
						<td>
							{{ score.get_setting_values.0 }}
						</td>
						<td>
							{{ score.get_setting_values.1 }}
						</td>
						<td>
							{{ score.user_name }}
						</td>
						<td>
							{{ score.created}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>
		{% else %}
		<p class="fs-5">No scores yet! Play Math Facts to start tracking!</p>
		{% endif %}
		{% include 'includes/math-facts-pagination.html' %}
	</div>

	<div class="col text-center">
		<div class="row">
				<h2>Anagram Hunt</h2>
		</div>
		{% if anagram_obj %}
		<div class="table-responsive pb-5">
			<table class="table table-striped" style="min-width: 500px">
				<thead>
					<tr>
						<th>Score</th>
						<th>Word Length</th>
						<th>Username</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{% for score in anagram_obj %}
					<tr>
						<td>
							{{ score.score }}
						</td>
						<td>
							{{ score.settings }}
						<td>
							{{ score.user_name }}
						</td>
						<td>
							{{ score.created}}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		<p class="fs-5">No scores yet! Play Anagram Hunt to start tracking!</p>
		{% endif %}
		{% include 'includes/anagram-hunt-pagination.html' %}
	</div>
</div>
{% endblock %}